:where(
  [data-theme="dark"],
  .dark,
  .dark-theme
) {
  color-scheme: dark;

  --surface-1: #242629;
  
  --text-1: #fffffe;
  --surface-2: #16161a;

  --text-2: #94a1b2;
  --surface-3: #010101;
}
html.dark {
  /* 自定义深色背景颜色 */
  --el-color-primary: #7f5af0;
  --el-color-white: #fffffe;
  
  --el-color-primary-light-3: #7f5af0;
}

:where(
  [data-theme="light"],
  .light,
  .light-theme
) {
  color-scheme: light;

  --surface-1: #f2f4f6;
  --text-1: #00214d;
  --surface-2: #fffffe;
}
html.light {
  /* 自定义深色背景颜色 */
  --el-color-primary: #00ebc7;
  --el-color-white: #00214d;
  
  --el-color-primary-light-3: #00ebc7;
}
